<footer>
    <div>
        <h4>Dev Contact Details</h4>
        <ul>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>Whatsapp</li>
        </ul>
    </div>
    <div>
        <h4>Privacy Stuff</h4>
        <ul>
            <li>Terms of use</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
    <div>
        <h4>Tech Stuff</h4>
        <ul>
            <li>API</li>
        </ul>
    </div>
</footer>

<div class="yama-last">
    <% const time = new Date();%>
    <% const getHour = time.getHours();%>
    <% const getMintes = time.getMinutes();%>
    <% const getTime = getHour + ":" + getMintes %>
    <p>© <%= getTime%> Marjella Marketing Media.%></p>
</div>