<div id="header">
    <img src="" alt="" class="brand-logo">
    <span class="material-symbols-rounded" id="menu-bar">
        menu
    </span>
    <span class="material-symbols-rounded" id="close">
        close
    </span>
    <nav>
        <ul>
            <li><a href="" class="header-link">Login</a></li>
            <li><a href="" class="header-link">RIQO PRO+</a></li>
            <li><a href="/privacypolicy" class="header-link">Donate</a></li>
        </ul>
    </nav>
</div>