<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIQO RELOADED</title>
    <link rel="stylesheet" href="styl.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script defer src="indexFunc.js" type="module"></script>
    <script defer src="demosect.js" type="module"></script>
</head> 
<body>
    <%- include("partials/header.ejs")%>

    <section id="hero-section">
        <div class="img-div">
            <img src="riqoReloaded.svg" alt="" loading="eager" class="hero-img">
        </div>

        <div class="hero-content">
            <h1><span class="dark-orange">Shoot</span> your <span class="dark-orange">Shot </span>and <span class="dark-orange">Score</span></h1>
            <p><span style="color:rgb(252, 86, 86)">Don't</span> be the <span style="color:dodgerblue;">guy</span> with <span style="color:rgb(252, 86, 86)">no rizz</span>, <span style="color:orange">boss up</span><br> 
            with <span style="color:dodgerblue;">RIQO</span> and <span style="color:green">start pulling them in</span> by<br> 
            the <span style="color:saddlebrown">boat load.</span>
            </p>
        </div>

        <button type="button" id="create-account-button" class="hero-cta-btn">Create Account</button>

    </section>

    <section id="about-section">
        <h2>What is RIQO?</h2>
        <div>
            <p>Riqo is your trustworthy and reliable digital wingman. Created for the hopeless romantic trying to a partner in this complicated world.</p>
            <p>With RIQO you’ll learn to breakout of your comfort zone, conquer your fears   and overcome traumas of rejection.</p>
            <p>No matter the weather, RIQO is ready for your situation.</p>
        </div>
    </section>

    <section id="features">
        <h2>Features</h2>

        <div class="features-div">
            <div>
                <img src="7.png" alt="" loading="lazy" class="feature-img-div">
                <h3>Weekly Updates</h3>
                <p>Expect the unexpected, with weekly updates to your content, we'll keep you distracted fr fr...</p>
            </div>
            <div>
                <img src="2.svg" alt="" loading="lazy" class="feature-img-div">
                <h3>Exciting Features</h3>
                <p>Original features and functionalities all for your enjoyment and use</p>
            </div>
            <div>
                <img src="3.svg" alt="" loading="lazy" class="feature-img-div">
                <h3>Realtime Data</h3>
                <p>RIQO's features are rooted in the times, meaning, our features are tailor made for the times</p>
            </div>
            <div>
                <img src="22.png" alt="" loading="lazy" class="feature-img-div">
                <h3>We just got it</h3>
                <p>Ey man we just got it, fun features, crazy challenges, thought provoking rizz 🤷🏽‍♂️</p>
            </div>
        </div>

        <span class="material-symbols-rounded">
            expand_more
        </span>

        <div class="expansion-div">
            <div class="def-div">
                <h3>Checkout 1 of our Demo Features</h3>
                <button type="button" id="exampleFeature" class="demo-btn">Demo Feature</button>
            </div>
            
            <div id="demo-feature-div">
                <div class="qoute-block">
                    <p class="innerhtml">"click generate"</p>
                </div>
                <button type="button" id="gen-test-btn" class="gen-test">Generate</button>
            </div>

        </div>

    </section>

    <footer>
        <div>
            <h4>Dev Contact Details</h4>
            <ul>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Whatsapp</li>
            </ul>
        </div>
        <div>
            <h4>Privacy Stuff</h4>
            <ul>
                <li>Terms of use</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div>
            <h4>Tech Stuff</h4>
            <ul>
                <li>API</li>
            </ul>
        </div>
    </footer>

    <div class="yama-last">
        <% const time = new Date();%>
        <% const getHour = time.getHours();%>
        <% const getMintes = time.getMinutes();%>
        <% const getTime = getHour + ":" + getMintes %>
        <p>© <%= getTime%> Marjella Marketing Media.%></p>
    </div>

</body>
</html>
